---
# Only the main Sass file needs front matter (the dashes are enough)
---


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f5f5f5;
}

/*
 * Navbar
 */
@media (min-width: 768px) {
    .navbar {
        border-bottom: 1px solid #94A9B1;
    }
    .navbar .navbar-nav {
        //display: inline-block;
        //float: none;
        //vertical-align: top;
    }
    .navbar .navbar-collapse {
        //text-align: center;
    }
}

/*
 * General
 */
body {
    overflow-x: hidden;
    font-size: 160%;
    h1, h2, h3, h4 {
        font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
    }
    main.container {
        padding-bottom: 40px;
        //max-width: 800px;
        img {
            max-width:100%;
        }
    }
}

#header-main {
    text-align: center;
    padding: 60px 0 40px;
}

.list-posts li {
    margin: 20px 0 30px;
}

.footer {
    .fat-copy {
        margin: 40px 0 0;
    }
}

/*
 * Home
 */
.home {
    .page-header {
        text-align: center;
        border: 0;
    }
    .content {
        img {
            min-width: 100%;
        }
    }
}

/*
 * Content
 */
article.content {
    h2 {
        margin-top: 80px;
    }
    h3 {
        margin-top: 60px;
        padding-left: 20px;
        border-left: 5px solid #CCC;
    }
    h4 {
        margin-top: 40px;
    }

    .label {
        box-shadow: 0;
        text-shadow: 0;
    }
}
