<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fatecrl.persistenciadadossqlite">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.fatecrl.persistenciadadossqlite.MainActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.fatecrl.persistenciadadossqlite.CadLivroActivity"
            android:label="@string/title_activity_cad_livro"></activity>
        <activity
            android:name="com.fatecrl.persistenciadadossqlite.ListarLivrosActivity"
            android:label="@string/title_activity_listar_livros"></activity>
        <activity
            android:name="com.fatecrl.persistenciadadossqlite.EditLivroActivity"
            android:label="@string/title_activity_edit_livro"></activity>
        <activity
            android:name="com.fatecrl.persistenciadadossqlite.SplashScreenActivity"
            android:label="@string/title_activity_splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>



   