/* Custom container */

/* Replaced with normal container and standard footer */
/*.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }
*/

/* Replaced with standard BS3 Navbar */
/*.navbar .nav {
  float: right; }&raquo;*/

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

@media (min-width: 768px) {
    .navbar { border-bottom: 1px solid #94A9B1}
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
} 

body {
  overflow-x: hidden;
  font-size: 170%;
  margin-bottom: 60px;
}

.label {
  box-shadow: 0; text-shadow: 0;
}

.container {
  max-width: 800px;
}

#header-main {
  text-align: center;
  padding: 60px 0 40px;
}

.list-posts li {
  margin: 20px 0 30px
}
