<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pdm2_adam"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.pdm2_adam.MainActivity"
            android:label="@string/app_name" >
            
        </activity>
        <activity
            android:name="com.example.pdm2_adam.SobreActivity"
            android:label="@string/title_activity_sobre" >
        </activity>
        <activity
            android:name="com.example.pdm2_adam.ListarPalavrasActivity"
            android:label="@string/title_activity_listar_palavras" >
        </activity>
        <activity
            android:name="com.example.pdm2_adam.CadastrarPalavraActivity"
            android:label="@string/title_activity_cadastrar_palavra" >
        </activity>
        <activity
            android:name="com.example.pdm2_adam.EditarPalavraActivity"
            android:label="@string/title_activity_editar_palavra" >
        </activity>
        <activity
            android:name="com.example.pdm2_adam.SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
